.main-container{
    flex-basis: 70%;

    @media screen and (max-width:1200px) {
        flex-basis: 90%;
    }
}

.sub-container{
    flex-basis: 25%;

    @media screen and (max-width:1200px) {
        display: none;
    }
}

.white{
    background-color: #F7F6F2;
}

.article{
    margin-top: 80px;

    @media screen and (max-width:1200px) {
        display: flex;
    }

    &__inner{
        max-width: 1140px;
        margin: 0 auto;
        display: flex;

        @media  screen and (max-width:780px) {
            justify-content: center;
        }
    }

    &__top-title{
        padding-bottom: 18px;
        & > h3{
            font-size: 32px;
            letter-spacing: 0.05em;
            line-height: 0.875em;
        }
    }

    &__commit{
        margin-top: 63px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width : 780px){
            flex-direction: column;
        }

        & > img{
            margin: 0 5px;

            @media screen and (max-width : 780px){
                margin: 20px 0px;
                transform: rotate(90deg);
            }
        }
    }

    &__commit-img{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:90%;
        height:90%;
        
    }

    &__title{
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #F7F6F2;
        padding: 0 15px;

        & > h5{
            font-size: 36px;
            font-family: Futura PT;
            letter-spacing: 0.05em;
            line-height: 1.27em;
            text-align: center;

            @media screen and (max-width:600px) {
                font-size: 28px;
            }
        }

    }

    &__before{
        width: 370px;
        height: 383px;
        border: 1px solid var(--fontColor);
        border-radius: 30px;
        position: relative;

        @media  screen and (max-width:400px) {
            width:95%;
        }
    }

    &__after{
        width: 370px;
        height: 383px;
        border: 1px solid var(--fontColor);
        border-radius: 30px;
        position: relative;

        @media  screen and (max-width:400px) {
            width:95%;
        }
    }

    &__date-category{
        margin-top: 16px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 1.5em;
        & .date {
            display: inline-block;
            height: 100%;
            margin-right: 10px;
            padding: 0px 27px;
            border: 1px solid var(--btnColor);
            color:var(--btnColor);
            border-radius: 20px;
            font-size: 12px;
            background-color: rgba(255, 0, 0, 0);
        }

        & .date-time{
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            line-height: 1.75em;

            & > img{
                margin-right: 8px;
            }
        }
    }

    &__info{
        margin-top: 98px;
        position: relative;
        border: 1px solid var(--fontColor);
        border-radius: 30px;

    }

    &__table{
        padding: 10px 31px 48px 31px;
    }

    &__table-tr{
        display: flex;
        align-items: center;
    }
    &__table-th{
        padding: 28px 0;
        width:30%;
        font-weight: bold;
        letter-spacing: 0.05em;
        line-height: 1.75em;
    }
    &__table-td{
        padding: 28px 0;
        width:70%;
        letter-spacing: 0.05em;
        line-height: 1.75em;
    }

    &__image-title{
        margin-top: 80px;
        font-size: 32px;
        letter-spacing: 0.05em;
        line-height: 0.875em;
    }

    &__img{
        width: 100%;
        height:480px;
        margin-top: 40px;
    }

    &__h2{
        font-size: 32px;
        letter-spacing: 0.05em;
        line-height: 0.875em;
        margin-top: 40px;
    }

    &__h{
        margin-top: 12px;
        font-size: 28px;
        letter-spacing: 0.05em;
        line-height: 1em;
    }

    &__p{
        letter-spacing: 0.05em;
        line-height: 1.75em;
        margin-top: 24px;
    }

    &__btn-block{
        display: flex;
        justify-content: space-between;

        margin-top: 132px;

        @media screen and (max-width : 780px){
            flex-direction: column;

            & > button:nth-child(2){
                margin-top: 24px;
            }
        }
    }

}

.mt-52{
    margin-top: 52px;
}

.news-inner{
    max-width: 800px;
    flex-direction: column;
    
    @media screen and (max-width:820px) {
        width: 90%;
    }
}

.aside{
    margin-left: 59.5px;
    

    &__title{
        padding-bottom: 16px;
        padding-left: 5px;
        display: flex;
        align-items: center;
        

        & > img{
            margin-right: 11px;
            width:19px;
            height:16px;
        }

        & > h4{
            font-size: 24px;
            letter-spacing: 0.1em;
            line-height: 1.46em;
        }
    }

    

    &__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;

        & > button{
            margin-top: 16px;

            &:nth-child(1){
                margin-top: 24px;
            }
        }
    }

    &__items{
        margin-top: 25px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item{
        & > img {
            width: 100%;
        }

        &:nth-child(n + 4){
            margin-top: 79px;
        }

        @media screen and (max-width:1200px) {
            width:45%;
            padding: 15px;

            &:nth-child(n + 3){
                margin-top: 79px;
            }
    
        }

        @media screen and (max-width:630px) {
            width:90%;
            margin: 0 auto;
            padding: 5px;

            &:nth-child(n){
                margin-top: 30px;
            }
    
        }
    }

    &__date-category{
        margin-top: 10px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 1.5em;
        & span {
            display: inline-block;
            height: 100%;
            margin-left: 10px;
            padding: 0px 27px;
            border: 1px solid var(--btnColor);
            color:var(--btnColor);
            border-radius: 20px;
            font-size: 12px;
            background-color: rgba(255, 0, 0, 0);
        }
    }

    &__title{
        margin-top: 10px;
    }
}

.mt{
    margin-top: 40px;
}

.ar-underline{
    width: 100%;
    height:2px;
    background-size: 15px 1px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, #4c4948, #4c4948 5px, transparent 5px, transparent 15px);
}