.btn {
    position: relative;
    min-width: 300px;
    height: 56px;
    border-radius: 100px;
    border: none;
    background-color: var(--btnColor);
    color: white;
    font-family: Zen Kaku Gothic New;
    font-size: 16px;
    cursor: pointer;
    & i {
      transition: all 0.3s;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(-50%, -50%);

      &.left{
        left: 30px;
        right:initial;
      }
    }
    &:hover {
      & i {
        right: 15px;

        &.left{
          left: 25px;
          right:initial;
        }
      }
    }
  }